@{
    ViewBag.Title = "Index";
    
    Layout = "~/Views/Shared/_LayoutV2.cshtml"; 
    // this set the page customized master page, if remove this, it will use default master page defined in _Layout.cshtml.
}

<h2>Demo Index</h2>
<div>@ViewBag.Intro</div>

